@{
    ViewData["Title"] = "About";
}
<div class="breadcrumb-area">
    <div class="container-fluid text-center">
        <div class="breadcrumb-stye gray-bg ptb-100">
            <h2 class="page-title">about us</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li class="active">about us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shopping-cart-area start -->
<div class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <div class="about-text">
                    <img src="assets/img/blog/4.jpg" alt="">
                    <div class="about-text-title text-center">
                        <h2>
                            Fairy tales do come true! Ours did!
                        </h2>
                            <p>“Tales in Gold” is a group of five friends and a fairy, all adoring jewelry. </p>

                            <p>Working along as a team can be most inspiring. From the early stages of designing to the final polish, each one of us contributes new ideas, while working in his own specialty. Creativity and passion are our basic beliefs. We love our work so we treat each piece of jewelry with responsibility and respect.</p>
                            
                            <p>The final outcome is our hard work’s reward… Our satisfaction!</p>
                            
                            <p>“Tales in Gold”, tell their stories in the three colors of gold. Necklaces, bracelets, rings, and earrings, unique or even personalized, may become a part of your own tale; yellow, white or rose gold tale. Elegant, glamorous and romantic jewelry, every woman deserves!</p>
                                
                            <p>We are eager to share our tales with you. Join us on this journey and make your own story true!</p>
                                
                            <p>--- Fairy Goldcharm</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>