@{
    ViewData["Title"] = "About";
}
<div class="breadcrumb-area">
    <div class="container-fluid text-center">
        <div class="breadcrumb-stye gray-bg ptb-100">
            <h2 class="page-title">about us</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li class="active">about us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- shopping-cart-area start -->
<div class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <div class="about-text">
                    <img src="assets/img/blog/4.jpg" alt="">
                    <div class="about-text-title text-center">
                        <h2>
                            welcome to demo
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in </p>
                    </div>
                    <div class="about-counter">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="single-count text-center mb-30">
                                    <div class="count-title">
                                        <h2 class="count">20</h2>
                                        <span>Years in Business</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="single-count text-center mb-30">
                                    <div class="count-title">
                                        <h2 class="count">200</h2>
                                        <span>Clients and Partners</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="single-count text-center mb-30">
                                    <div class="count-title">
                                        <h2 class="count">15</h2>
                                        <span>Billion Sales</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-area">
                        <h2 class="main-title">What people say?</h2>
                        <div class="testimonial-active">
                            <div class="single-testimonial text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                                <h2>Tayeb Rayed</h2>
                                <h3>CEO at company</h3>
                            </div>
                            <div class="single-testimonial text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                                <h2>Tayeb Rayed</h2>
                                <h3>CEO at company</h3>
                            </div>
                            <div class="single-testimonial text-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                                <h2>Tayeb Rayed</h2>
                                <h3>CEO at company</h3>
                            </div>
                        </div>
                    </div>
                    <div class="our-team">
                        <h2 class="main-title">our team member</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="single-team">
                                    <div class="team-img-name">
                                        <img alt="" src="assets/img/team/team-2.jpg">
                                        <div class="member-title text-center">
                                            <h2>Martin Jerry</h2>
                                            <p>Ceo Founder</p>
                                        </div>
                                    </div>
                                    <div class="member-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                                        <div class="member-social">
                                            <a class="m-facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="m-twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="m-g-plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="m-linkedin" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="single-team team-mrg">
                                    <div class="team-img-name">
                                        <img alt="" src="assets/img/team/team-3.jpg">
                                        <div class="member-title text-center">
                                            <h2>farhana shuvo</h2>
                                            <p>Ceo Founder</p>
                                        </div>
                                    </div>
                                    <div class="member-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                                        <div class="member-social">
                                            <a class="m-facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="m-twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="m-g-plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="m-linkedin" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="single-team team-mrg">
                                    <div class="team-img-name">
                                        <img alt="" src="assets/img/team/team-4.jpg">
                                        <div class="member-title text-center">
                                            <h2>tayeb rayed</h2>
                                            <p>Ceo Founder</p>
                                        </div>
                                    </div>
                                    <div class="member-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                                        <div class="member-social">
                                            <a class="m-facebook" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="m-twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="m-g-plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="m-linkedin" href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>